*{
    font-weight: 400;
     
}
.surName{
    color: violet;
}
.one{
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: green;
}
#photo{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
form{
padding: 20px 50px;
border: 2px solid black;
width: 300px;
margin: 50px auto;
border-radius: 20px;
}
input{
    display:block;
}
input[type="radio"]{
    display: inline;
}
.submit{
    padding: 10px 30px;
    margin-top: 50px;
}
.square_wrapper{
    margin: 100px auto;
    width: 400px;
}